<ul>
<% @items.each do |item| %>
  <li class="has_popover">
    <span class="pop_target"><%= item.name %></span><span class="box_number get" data-location="/boxes/<%= item.box %>"><%= item.box %></span>
    <span class="popover"><span class="delete" data-location="/items/<%= item.id %>">Delete</span></span>
  </li>
<% end %>
</ul>