<% if @items.count == 0 %>
	<p class="info">No items matched your search terms</p>
<% else %>
<ul>
<% @items.each do |item| %>
  <li class="has_popover">
    <span class="pop_target"><%= item.name %></span><a class="box_number get" href="/boxes/<%= item.box %>"><%= item.box %></a>
    <span class="popover"><a href="/items/<%= item.id %>" class="delete">Delete</a></span>
  </li>
<% end %>
</ul>
<% end %>
