<div id="header">
	<div class="wrapper">
						
		<h1><%= @title %></h1>
				
	</div><!-- end wrapper -->
</div><!-- end header -->

<div id="content">
	<div class="wrapper">
		
		<span class="button back get" data-location="/">&larr; Back</span>
		<ul>
			<% @items.each do |item| %>
				<li><%= item.name %></li>
			<% end %>
		</ul>

	</div><!-- end wrapper -->
</div><!-- end content -->
