<div id="header">
	<div class="wrapper">
						
		<h1><%= @title %></h1>
		
		<ul id="tabbed_nav">
			<li class="get" data-location="/">Your Stuff</li>
		</ul>
				
	</div><!-- end wrapper -->
</div><!-- end header -->

<div id="content">
	<div class="wrapper">
		
		<ul class="box_list">
			<% @boxes.each do |box| %>
			<li class="box_item get" data-location="/boxes/<%= box.box %>"><%= box.box %></li>
			<% end %>
		</ul>

	</div><!-- end wrapper -->
</div><!-- end content -->

