<div id="header">
	<div class="wrapper">
						
		<h1><%= @title %></h1>
		
		<ul id="tabbed_nav">
			<li><a href="/" class="get">Your Stuff</a></li>
		</ul>
				
	</div><!-- end wrapper -->
</div><!-- end header -->

<div id="content">
	<div class="wrapper">
		
		<ul class="box_list">
			<% @boxes.each do |box| %>
			<li class="box_item"><a href="/boxes/<%= box.box %>" class="get"><%= box.box %></a></li>
			<% end %>
		</ul>

	</div><!-- end wrapper -->
</div><!-- end content -->

