<div id="header">
	<div class="wrapper">
						
		<h1><%= @title %></h1>
		
		<ul id="tabbed_nav">
			<li><a class="get" href="/boxes">Boxes</a></li>
			<li><a class="get" href="/items/new"><strong>+</strong></a></li>
		</ul>
		
	</div><!-- end wrapper -->
</div><!-- end header -->

<div id="content">
	<div class="wrapper">
		
		<div id="search_box">
			<form id="search_form" action="/search" method="post" accept-charset="utf-8">
				<fieldset>			
					<input type="text" name="search" placeholder="Search" value="<%= @search %>" id="search">
					<% if @search && @search != "" %>
					<a href="/" class="button reset get">x</a>
					<% end %>
				</fieldset>
			</form>
		</div>
		<div id="list_of_stuff">
			<%= partial :items_list %>
		</div>

	</div><!-- end wrapper -->
</div><!-- end content -->