<div id="header">
	<div class="wrapper">
						
		<h1><%= @title %></h1>
		
		<ul id="tabbed_nav">
			<li class="get" data-location="/boxes">Boxes</li>
			<li class="get" data-location="/items/new"><strong>+</strong></li>
		</ul>
		
	</div><!-- end wrapper -->
</div><!-- end header -->

<div id="content">
	<div class="wrapper">
		
		<div id="search_box">
			<form id="search_form" action="/search" method="post" accept-charset="utf-8">
				<fieldset>			
					<input type="text" name="search" placeholder="Search" value="<%= @search %>" id="search">
				</fieldset>
			</form>
		</div>
		<div id="list_of_stuff">
			<%= partial :items_list %>
		</div>

	</div><!-- end wrapper -->
</div><!-- end content -->