<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=320, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="apple-touch-startup-image" href="/startup.png">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<title>Boxes Everywhere</title>
		<link rel="stylesheet" href="/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="main">
			<%= yield %>
		</div>
		
		<div id="footer">
			<div class="wrapper">
				
				<p id="copyright">&copy;2011 Mo Lawson. All rights reserved.</p>
				
			</div><!-- end wrapper -->
		</div><!-- end footer -->
	</body>
</html>