<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=320, user-scalable=no">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<title><%= @title + " | " if @title %>Boxes Everywhere</title>
		<link rel="stylesheet" href="/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script type="text/javascript" charset="utf-8">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0); 
			}, false);
			
			function hideURLbar() {
				// window.scrollTo(0,1);
			}
		</script>
	</head>
	<body>
		<div id="header">
			<div class="wrapper">
				
				<h1><%= @title || "Boxes Everywhere" %></h1>
				
				<% if @plus %>
				<a class="plus" href="<%= @plus %>">+</a>				
				<% end %>
			</div><!-- end wrapper -->
		</div><!-- end header -->
		
		<div id="content">
			<div class="wrapper">
				
				<%= yield %>

			</div><!-- end wrapper -->
		</div><!-- end content -->

		<div id="footer">
			<div class="wrapper">
				
				<p id="copyright">&copy;2011 Mo Lawson. All rights reserved.</p>
				
			</div><!-- end wrapper -->
		</div><!-- end footer -->
	</body>
</html>