<form action="/items" method="post" accept-charset="utf-8">
  <input type="text" name="item[name]" placeholder="Name" id="name">
  <input type="tel" name="item[box]" placeholder="Box" id="box">
	<input type="submit" value="Add" id="item_submit">
</form>
<a href="/" class="done">Done adding items</a>
<ul>
<% @items.each do |item| %>
  <li><a class="popover" href="#"><%= item.name %></a><a class="box_number" href="/boxes/<%= item.box %>"><%= item.box %></a></li>
<% end %>
</ul>