body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #f3f3f3;
	-webkit-user-select: none;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #363636;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p { margin-bottom: 8px; }

.wrapper {
	margin: 0 10px;
	overflow: hidden;
}

#header {
  background-color: #666;
  color: #efefef;
  padding: 10px 0;
  position: relative;
}

#header h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 28px;
  color: #fff;
}

#header h1 span.box_number {
  display: inline-block;
  background: #888;
  color: #fff;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
  width: 34px;
  text-align: center;
  border-radius: 4px;
  margin-right: 4px;
}

#header ul#tabbed_nav {
  position: absolute;
  bottom: 0;
  right: 10px;
  overflow: hidden;
}

ul#tabbed_nav li {
  float: left;
  color: #efefef;
  background: #888;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  margin: 0 3px;
  z-index: 0;
}

ul#tabbed_nav li.pressed { 
  background-color: #aaa;
  color: #fff;
}

#content { 
  background-color: #f3f3f3;
  padding: 18px 0 10px;
  box-shadow: -10px -10px 5px #888;
}

span.done {
  display: inline-block;
  color: #363636;
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 18px;
}

span.done.pressed {
  color: #aaa;
}

span.button {
  display: inline-block;
  color: #888;
  font-size: 11px;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 6px 10px;
}

span.button.pressed {
  background: #e3e3e3;
  color: #999;
  border: 1px solid #aaa;
}

span.back {
  margin-bottom: 18px;
}

span.reset {
  width: 22px;
  height: 22px;
  line-height: 20px;
  padding: 0;
  border-radius: 11px;
  position: absolute;
  top: 4px;
  right: 6px;
}

fieldset { position: relative; }

input[type="text"], input[type="tel"], input[type="submit"] {
  height: 24px; 
  margin-bottom: 8px;
  border-radius: 5px;
}

input#search { width: 96%; }

input#name { width: 55%; }
input#box { width: 15%; }
input#item_submit { width: 18%; }

p.info {
  font-weight: bold;
  font-style: italic;
  margin: 10px;
}

#content ul li {
  color: #363636;
  position: relative;  
  clear: both;
  padding: 0 8px;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
}

#content ul li:first-child { 
  border-top: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#content ul li:last-child { 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


#content ul li span.box_number {
  float: right;
  background: #888;
  text-align: center;
  line-height: 24px;
  height: 24px;
  width: 28px;
  margin: 6px 0;
  border-radius: 4px;
  color: #fff;
}

#content ul li span.box_number.pressed { 
  background: #aaa;
  color: #fff;
}

#content ul.box_list {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  padding: 8px 10px;
}

#content ul.box_list li.box_item {
  display: inline-block;
  background: #888;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  height: 32px;
  width: 40px;
  margin: 8px 6px;
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #fff;
}

#content ul.box_list li.box_item.pressed {
  color: #fff;
  background: #aaa;
}

span.popover {
  display: none;
  background-color: #000;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.33, #222),
      color-stop(1, #666)
  );
  border-radius: 5px;
  padding: 0;
  z-index: 100;
  position: absolute;
  top: -30px;
  left: 3px;
  line-height: 13px;
}

span.popover:before { 
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid #222;
  border-right: 4px solid #222;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  left: 8px;
  bottom: -8px;
}

span.popover:after { 
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid #222;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #222;
  position: absolute;
  left: 16px;
  bottom: -8px;
}

span.popover span {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  padding: 10px 12px;
  width: 42px;
  position: relative;
}

span.popover span.first { border-right: 1px solid #111; }

#footer {
  font-size: 10px;
  color: #999;
  text-align: center;
  padding: 10px 0;
}